body{
    font-family: Comic sans ms , Arial, Helvetica, sans-serif;
}
nav {
    width: 100%;
    height: 60px;
    background: #5b5e5f;
}
.logo{
    color: rgb(255,255,255);
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu{
    float: left;
    padding-left: 430px; 
}
.menu li{
    float: left;
    line-height: 60px;
    color: rgb(255,255,255);
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;    
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    box-shadow: 15px 13px 15px inset #000;
    background: url(../img/me.png) 80% 100%/auto 85% no-repeat , url(../img/1.2.jpg) center/cover no-repeat;
}

.title__Container{
    float: left;
    margin: 432px 0px 0px 405px ;
    color: rgb(255, 255, 255);
    text-align: center;
}

.title__Container h1{
    font-size: 60px;
    font-weight: bold;
}
.title__Container h4{
    margin-top: 40px;
    font-size: 22px;
    color: rgb(255, 255, 255);
}
.title__Container input{
    height: 40px;
    text-align: center;
    border: 2px solid #ffffff;
    background: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.logo1 {
    width: 100%;
    height: 716px;
    box-shadow: 15px 13px 15px inset #000;
    background: url(../img/1.jpg) center/cover no-repeat;
    color: rgb(255,255,255);
    font-size: 35px;
    line-height: 108px;
    padding-left: 896px;
    float: left;
}
.menu1 {
    float: left;
    padding-left: 596px;
}
.menu1 p{
    color: rgb(255,255,255);
    font-size: 35px;
    line-height: 1px;
    padding-left: 596px;
    float: left;
}

